body{
  margin: 0;
  background-color: rgb(190, 230, 235);
  font-family: 'Raleway', sans-serif;
}

#updated{
  background-color: white;
  width: 30%;
  margin: 10% 35%;
  padding: 2%;
  float: center;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgb(60,70,80);
  color: #444;
  /* box-shadow: 5px 10px 5px; */
}

hr{
  border-color: rgb(80,204,127);
  width: 50%;
}

#email_field{
  border-left: 1px solid rgb(80, 204, 127);
  border-bottom: 1px solid rgb(80,204,127);
}

#email_submit{
  font-weight: bold;
  border: 1px solid rgb(80,204,127);
  padding: 2% 3%;
}

input{
  border: none;
  padding: 2%;
  margin: 1%;
  background-color: #eee;
}

#thank{

}
