
h1 {
  font-family: 'Poiret One';
  font-size: 3em;
  font-weight: bold;
}

li{
  font-size: 1.5em;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Raleway';
}

#top {
  background-color: rgb(0,220,130);
  padding: 100px;
  margin: 0px;
  text-align: center;
  font-size: 2em;

}

.titles{
  -webkit-margin-before: 0em;
  font-size: 2em;
}

#what {
  padding: 5%;
  background-color: white;
  display: flex;
}

.left{
  width: 40%;
  margin-right: 1%;
  display: inline-block;
  font-size: 3em;
  text-align: center;
}

.right{
  width: 58%;
  float: right;
  border-left: 7px solid rgb(0,220,130);
  /*background-color: rgb(204, 243, 230);*/
  text-align: justify;
}

 #how {
  padding: 5%;
  background-color: rgb(220, 240, 245);
  display: flex;
}

/*
#left_problem{
  width: 60%;
  display:inline-block;
  text-align: justify;
  border-left: 7px solid rgb(0,220,130);
}

#prob_text{
  margin-left: 1%;
  font-size: 1.5em;
  margin-right: .5%;
  margin-top: 0em;
  margin-bottom: 0em;
}

#right_problem{
  width: 38%;
  float: right;
  font-size: 3em;
  text-align: center;
} */

#help {
  padding: 5%;
  background-color: rgb(180, 210, 225);
  display: flex;
}

/* #left_rules{
  width: 40%;
  display: inline-block;
  font-size: 3em;
  text-align: center;
}

#right_rules{
  width: 58%;
  float: right;
  border-left: 7px solid rgb(0,220,130);
  text-align: justify;

}

#rule_text{
  margin-left: 1%;
  font-size: 1.5em;
  margin-right: .5%;
  margin-top: 0em;
  margin-bottom: 0em;
} */

#enter_container{
  text-align: center;
  float: center;
  background-color: rgb(5, 55, 75);
}

#enter{
  margin: 5%;
  border: 3px solid rgb(0,220,130);
  text-decoration: none;
  font-family: 'Poiret One',cursive;
  font-weight: bold;
  padding: 2% 5%;
  color: rgb(0,220,130);
  background-color: rgb(5, 55, 75);
  font-size: 2.5em;
}

#credits{
  background-color: rgb(5, 55, 75);
  color: #999;
  margin: 0px;
}

.cred{
  margin: 0px;
}
