body {
  margin: 0%;
  background-color: rgb(210,230,230) !important;
  font-family: 'Raleway', sans-serif;
}


p {
  margin: 1% 2% !important;
  font-size: 1.5em;
}

hr{
  border-top: 1px solid rgb(0,30,50) !important;
  margin: 0% 1%;

}

.glyphicon-star-empty {
  margin-left: 1%;
}

.announce-bar{
  background-color: rgb(0,30,50);
}

#logo{
  color: rgb(80, 204, 127);
  text-align: left;
  display: inline-block;
  padding: 0px;
  margin: 1% 1% 1% 1%;
  font-size: 5em;
  font-family: 'Poiret One', sans-serif;
}

#contact {
  color: rgb(130, 130, 150);
  float: right;
  padding: 0px;
  margin: 1%;
}

#frame{
  margin: 1% 1% 0% 7%;
  padding: 1% 0% 1% 0%;
  color: rgb(0,30,50);
  background-color: rgb(80,204,127);
  display: inline-block;
  width: 69%;
}

#post-title{
  margin: 1% 5% 1% 1%;
  display: inline-block;
}

#post-author{
  margin: 0% 5% 1% 1%;
}

.post-content {
  margin: 0% 0% 2% 0%;
  background-color: white;
}

.module-bar {
  background-color: rgb(0, 30, 50);
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modules {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.module-li {
  float: left;
  color: rgb(80,204,127);
  /* border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: white; */
  width: calc(100%/6);
  background-color: rgb(0,30,50);
}

.module-titles {
    display: block;
    text-align: center;
    font-size: 150%;
    padding: 0em 1em;
    text-decoration: none;
    color: rgb(80,204,127);
}

.sections {
  padding-bottom:1%;
  color:black;
}

.section-list {
  list-style-type: none;
}

.sec-title{
  font-weight: bold;
  font-size: 2em;
}

.sect-description {
}

.post-data{
  margin: 1%;
}

.post-vote{
  margin: 0% !important;
}

.trending{
  width:16%;
  margin: 1% 7% 1% 0%;
  background-color: white;
  display: inline-block;
  float:right;
}
.trend-select{
  padding: 1%;
  background-color: rgb(80, 204, 127);
}
#display-title{
  margin:1%;
  color: rgb(0,30,50);
  background-color: rgb(80, 204, 127);
}
.subname{
  font-size: 1.5em;
  text-decoration: underline;
  margin:1%;
}

.subdata{
  font-size: 1em;
  margin:1%;
}

.comments {
  margin: 1% 1% 1% 7%;
  background-color: inherit;
  font-size: .75em;
  width: 69%;
}

.comm {
  margin: 1% 0% 1% 0%;
  background-color: white;
  padding: 1%;
  border-left: 7px solid rgb(80, 204, 127);
  font-size: inherit;
}

.comment-points{
  display: inline-block;
}

.reply{
  display: inline-block;
  float: right;
}
