body {
  margin: 0%;
  background-color: rgb(220,240,245) !important;
  /* background-color: rgb(210,230,230) !important; */
  font-family: 'Raleway', sans-serif;
}


p {
  margin: 1% 2% !important;
  font-size: 1.25em;
}

hr{
  border-top: 1px solid rgb(0,30,50) !important;
  margin: 0% 1%;

}

.glyphicon-star-empty {
  margin-left: 1%;
}

.announce_bar{
  background-color: rgb(0,30,50);
}

#logo{
  color: rgb(0,220,130);
  text-align: left;
  display: inline-block;
  padding: 0px;
  margin: 1% 1% 1% 1%;
  font-size: 5em;
  font-family: 'Poiret One', sans-serif;
}

#contact {
  color: rgb(180, 190, 200);
  float: right;
  padding: 0px;
  font-size: 1.1em !important;
}

#frame{
  margin: 1% 1% 0% 7%;
  padding: 0%;
  color: rgb(0,30,50);
  background-color: rgb(0,220,130);
  display: inline-block;
  width: 69%;
}

#post_title{
  margin: 1% 5% 1% 1%;
  display: inline-block;
}

#post_author{
  margin: 0% 5% 1% 1%;
}

.post_content {
  margin: 0%;
  background-color: white;
}

.module_bar {
  background-color: rgb(0, 30, 50);
  color: black;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
}

.modules {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.glyphicon-menu-left{
  font-size: 2.5em;
  color: rgb(0,220,130);
  float: left;
  display: inline-block;
  margin: 1%;
  width: 3%;
}

#current_module{
  margin:0%;
  width: 90%;
  font-size: 2.25em;
  display: inline-block;
  text-align: center;
  color: rgb(0,220,130);
  padding: 1%;
}

.glyphicon-menu-right{
  font-size: 2.5em;
  color: rgb(0,220,130);
  float: right;
  display: inline-block;
  margin: 1%;
  width: 3%;
}

.module_li {
  float: left;
  color: rgb(0,220,130);
  /* border_style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: white; */
  width: calc(100%/6);
  background-color: rgb(0,30,50);
}

.module_titles {
    display: block;
    text-align: center;
    padding: 0em 1em;
    text-decoration: none;
    color: rgb(0,220,130);
}

.sections {
  padding-bottom:1%;
  color:black;
}

.section_list {
  list-style-type: none;
}

.sec_title{
  font-weight: bold;
  font-size: 1.5em;
}

.sect{
  font-size: 1em;
}

#post_data{
  padding: 1%;
  color:rgb(0,220,130);
  background-color: rgb(0,30,50);
}

#post_vote{
  font-size: 2em;
  margin: 0% 1% !important;
}

.trending{
  width:16%;
  margin: 1% 7% 1% 0%;
  background-color: white;
  display: inline-block;
  float:right;
}
.trend_select{
  padding: 1%;
  background-color: rgb(0,220,130);
}

#display_title{
  margin:1%;
  color: rgb(0,30,50);
  background-color: rgb(0,220,130);
}

.subname{
  font-size: 1.5em;
  text-decoration: underline;
  margin:1%;
}

.subdata{
  font-size: 1em;
  margin:1%;
}

.comments {
  margin: 1% 1% 1% 7%;
  background-color: inherit;
  font-size: .75em;
  width: 69%;
}

#comment_form{
  margin:0%;
  padding-bottom: 2%;
}

#comment_area{
  width: 90%;
  height: 150px;
  margin: 0%;
  font-size: 1.5em;
  background-color: rgb(200, 220, 225);
  /* background-color: rgb(170,200,200); */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display:inline-block;
}

#comment_submit{
  float:right;
  display: inline-block;
  width: 10%;
  height:150px;
  font-size: 1.7em;
  border-style: none;
  background-color: rgb(0,30,50);
  color: rgb(0,220,130);
  margin:0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.comment_author{
  color: rgb(0,30,50);
  font-weight: bold;
}

.reply_toggle{
  margin-left: 1%;
}

.reply_form{
  margin:0%;
  padding-bottom: 1%;
}

.reply_area{
  width: 90%;
  height: 100px;
  margin: 0%;
  font-size: 1.5em;
  background-color: rgb(200,220,225);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display:inline-block;
}

.reply_submit{
  float:right;
  display: inline-block;
  width: 10%;
  height:100px;
  font-size: 1.7em;
  border-style: none;
  background-color: rgb(0,30,50);
  color: rgb(0,220,130);
  margin:0%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.comm {
  margin: 1% 0% 1% 0%;
  background-color: white;
  padding: 1%;
  border-left: 7px solid rgb(0,220,130);
  font-size: 1.1em;
}

.comment_points{
  display: inline-block;
}
.comment_points_wrap{
  width: 32%;
  display: inline-block;
  margin-left: 1%;
}

.expandable{
  text-align: center;
  color:rgb(70,80,100);
}
.expand_wrap{
  width: 33%;
  display: inline-block;
}

.reply_wrap{
  width: 33%;
  display: inline-block;
}
.reply{
  display: inline-block;
  float: right;
}

.child_li{
  list-style-type: none;
}

.hiding{
  display: none;
}

.child_ul{
  padding-left: 1%;
}
