{% load solution_extras %}

<ul class="child_ul">
    {% for child in children %}
    <li class="child_li">
      <div class="comm par{{ child.par_comment.pk }} hiding" id="com_{{ child.pk }}" pkid="{{ child.pk }}">
        <p class="comment_text">{{ child.content }}</p>
        <p class="comment_points">
          <span class="glyphicon glyphicon-menu-up comment_up"></span>
          {{ child.points }}
          <span class="glyphicon glyphicon-menu-down comment_down"></span>
        </p>
        <p class="reply">Reply <span class="glyphicon glyphicon-share-alt"></span></p>
      </div>
    </li>
      {% if child.comkids.count > 0 %}
          {% com_children_tag child%}
      {% endif %}
    {% endfor %}
</ul>
