{% load solution_extras %}

<ul class="child_ul">
    {% for child in children %}
    <li class="child_li">
      <div class="comm par{{ child.par_comment.pk }} hiding" id="com_{{ child.pk }}" pkid="{{ child.pk }}">
        <p class="comment_text" pkid="{{ comment.pk }}">{{ child.content }}</p>
        <div class="comment_points_wrap">
          <p class="comment_points">
            {% csrf_token%}
            <span class="glyphicon glyphicon-menu-up comment_up" pkid="{{ child.pk }}"></span>
              {{ child.points }}
            <span class="glyphicon glyphicon-menu-down comment_down" pkid="{{ child.pk }}"></span>
          </p>
        </div>
        <div class="expand_wrap">
          {% if child.comkids.count > 0 %}
              <p class="expandable">replies</p>
          {% endif %}
        </div>
        <div class="reply_wrap">
          <p class="reply">Reply <span class="glyphicon glyphicon-share-alt"></span></p>
        </div>
      </div>
    </li>
      {% if child.comkids.count > 0 %}
          {% com_children_tag child%}
      {% endif %}
    {% endfor %}
</ul>
