<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/intro.css"></link>
  <script src="/static/js/intro.js"></script>
  <title>Solvent</title>
</head>
<body>
 <div id='top'>
  <h1>Would you like to solve a problem?</h1>
 </div>
 <div id='explanation'>
   <div id='left_explanation'>
     <h1 class='titles'>The Game</h1>
   </div>
   <div id='right_explanation'>
     <p id='exp_text'>What can a group of passionate people imagine when they are not bounded by deadlines, resources, or doubt? What are the impossibilities they can envision together, and can those visions be transformed into reality? In order to answer these questions, I want to build Solvent: a collaborative brainstorming platform where people can propose, discuss, and improve ideas. I’ve found that exploring the ideas is both stimulating and rewarding because it lets us see how fluid the status quo really is. I want to give people the space to look past what exists today and imagine all of the possibilities that could be, and then, if they so choose, bring one to life. </p>
   </div>
 </div>
 <div id='problem'>
   <div id='left_problem'>
     <p id='prob_text'>This sounds like a great deal for the people getting feedback on their ideas, but what does everyone else get out of this? The short answer is nothing… at least nothing tangible. If you’re curious, you can learn about the perspectives and ideas of your peers. If you’re magnanimous, you can mentor others and help them bring their visions to life. If you’re bored, you can explore outlandish hypotheticals and talk to people who share your passion. Solvent is not meant to be a factory that takes in ideas and spits out business plans, it is meant to be a multiplayer sandbox mode. My hope is that by creating an environment of playful creativity, I can help grow a community of people who want to build new things. Here’s where you come in. Solvent is about collaborating to build things, so in that spirit, Solvent will be built by you, for you.</p>
   </div>
   <div id='right_problem'>
     <h1 class='titles'>The Stakes</h1>
   </div>
 </div>
 <div id='rules'>
   <div id='left_rules'>
     <h1 class='titles'>The Players</h1>
   </div>
   <div id='right_rules'>
     <p id='rule_text'>I know all of this sounds vague, but I didn’t want to repeat myself too much in the next part. When you click enter, you will be directed to the prototype for Solvent. This prototype is a single, fully-interactive post on the topic of Solvent. It contains a detailed explanation of Solvent from features to community rules to long-term possibilities. The idea is broken up into modules which are dedicated to the major parts of the idea; each module is composed of sections that describe the different aspects of the module as well as a comment section for you to discuss and give feedback. I need your help to design Solvent as something for you to enjoy. If this experiment is successful, I will do my best to bring Solvent to life. Thank you, and have fun.</p>
   </div>
 </div>
 <div id='enter_container'>
   <a href="/solution/1/"><button id="enter">Enter</button></a>
 </div>
</body>
