<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/intro.css"></link>
  <script src="/static/js/intro.js"></script>
  <title>Solvent</title>
</head>
<body>
 <div id='top'>
  <h1>Would you like to solve a problem?</h1>
 </div>
 <div id='explanation'>
   <div id='left_explanation'>
     <h1 class='titles'>The Game</h1>
   </div>
   <div id='right_explanation'>
     <p id='exp_text'>What would happen if you had 1,000 people working together to solve a problem? The problem itself doesn’t matter and neither do the people. In fact, let’s imagine that these people have never met and are communicating in a somewhat organized way over the internet. Chances are you’d have 1000 different solutions, 10 times that many arguments, and pure chaos. Now, I’m changing the game a bit. Let’s say that this brainstorming session has a moderator. This moderator’s job is to come up with his or her own solution and then work with the other 999 people to improve it. Depending on how open-minded the moderator is and the helpfulness of the other 999, the outcome could be spectacular. </p>
   </div>
 </div>
 <div id='problem'>
   <div id='left_problem'>
     <p id='prob_text'>The ideology, age, sex, race, and economic status of the participants are stripped from their ideas. Disagreements or attacks based on factors that aren’t related to the discussion become impossible because that information isn’t available. 1000 unique ways to view the problem, and therefore 1000 opportunities to make the solution better. If two heads are better than one, how much better are 1000? Unlike other discussions of this kind, the barrier of entry is not a PhD or a political office, but access to the medium over which it occurs. In the process of imagining a solution, everyone has benefitted from new ideas, new relationships, and a stimulating exercise.</p>
   </div>
   <div id='right_problem'>
     <h1 class='titles'>The Stakes</h1>
   </div>
 </div>
 <div id='rules'>
   <div id='left_rules'>
     <h1 class='titles'>The Players</h1>
   </div>
   <div id='right_rules'>
     <p id='rule_text'>I need your help for something quite similar. In this case, I am the moderator, you are a participant, and the problem is that there is no place for this kind of collaboration to occur. What if we could create the same experiment on a larger scale? 100,000’s people working on 1,000’s solutions of their own submission. Unfortunately, I have neither the resources, nor the connections to build this, but I do have you! Your ideas are the key to the success or failure of this project. If you choose to click the button below, you will find a demonstration of my proposed solution: a platform called Solvent where people can collaborate on ideas in the same way I described above. Your ideas are the solutes, my creation is the solvent, and together we can make solutions.</p>
   </div>
 </div>
 <div id='enter_container'>
   <a href="/solution/"><button id="enter">Enter</button></a>
 </div>
</body>
