<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/mobintro.css"></link>
  <script src="/static/js/intro.js"></script>

  <title>Solvent</title>


</head>

<body>
  <div class="announce_bar">
    <a href="/1/1/"><h1 id="logo">Solvent</h1></a>
  </div>

  <div id="catchline_wrap">

    <div id="catch">
      <h1 id="catch_text">Design the future you want to create, and discover the people you want to create it with.</h1>
    </div>

  </div>

<div class="steps" id="left_stp">
  <img id="idea" src="/static/idea.png">
  <h1 class="stp_title">Share</h1>
  <p class="description">Organize your project into its most basic parts and share it with the world.</p>
</div><!--

--><div class="steps" id="mid_stp">
  <img id="feedback" src="/static/feedback.png">
  <h1 class="stp_title">Collaborate</h1>
  <p class="description">Work with other users to improve projects and discuss the context around them.</p>
</div><!--

--><div class="steps" id="right_stp">
  <img id="global" src="/static/global.png">
  <h1 class="stp_title">Create</h1>
  <p class="description">Use the feedback and relationships you've gained to bring your project to life.</p>
</div>

<div id="demo">
  <a href="/1/1/"><button id="enter">Try it</button></a>
</div>


<div id='credits'>
  <p class='extra'>Icons made by Freepik from www.flaticon.com </p>
</div>

<p class="extra">Contact me at solvent.solute.solution@gmail.com</p>
</body>
