<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/mobintro.css"></link>
  <script src="/static/js/intro.js"></script>
  <title>Solvent</title>
</head>
<body>
 <div id='top'>
  <h1>Solvent</h1>
 </div>

   <div class='upper what'>
     <h1 class='titles'>I Want to...</h1>
   </div>
   <div class="what">
     <hr>
   </div>
   <div class='lower what'>
     <ul>
       <li><p class="build">make it as easy as possible for people to share their ideas, and as enjoyable as possible for others to browse and discuss them.</p></li>
       <li><p class="build">create a community for people who like to build things, ask questions, and explore the possibilities around them.</p></li>
       <li><p class="build">help people see the world differently by exposing them to new points of view and encouraging them to think about how they could change it.</p></li>
     </ul>
   </div>


   <div class='upper how'>
     <h1 class='titles'>How it Works</h1>
   </div>
   <div class="how">
     <hr>
   </div>
   <div class='lower how'>
     <ol>
       <li><p class="build">Organize your idea into its basic parts. This could be the context around your idea, existing related solutions, or the details of how your idea works.</p></li>
       <li><p class="build">Share your idea, and get feedback from other users in the comments. Use this feedback to refine your idea. Rinse and repeat.</p></li>
       <li><p class="build">Through this process, you can develop a following, find people who want to work on the idea, and recieve fedback on how to take your idea to reality.</p></li>
     </ol>
   </div>

   <div class='upper help'>
     <h1 class='titles'>You can Help by...</h1>
   </div>
   <div class="help">
     <hr>
   </div>
   <div class='lower help'>
     <ul>
       <li><p class="build">checking out the prototype I've put together and using it to give me feedback.</p></li>
       <li><p class="build">showing Solvent to your friends and spreading the word.</p></li>
       <li><p class="build">helping me find people who want to make Solvent a reality.</p></li>
       <li><p class="build">asking hard questions, building cool things, and imagining the world as it could be.</p></li>
     </ul>
   </div>

 <div id='enter_container'>
   <a href="/1/1/"><button id="enter">Enter</button></a>
 </div>
</body>
