<!DOCTYPE HTML>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/solve.css"></link>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Solvent</title>
</head>
<body>
  <div class="announce-bar">
    <h1 id="logo">Solvent</h1><p id="contact">Talk to me at bla@email.com</p>
  </div>
  <div id="frame">
    <h1 id="post-title">Solvent: Collaborative Brainstorming</h1>
    <p id="post-author">By: ssono</p>
    <div class="post-content">
      <div class="module-bar">
        <ul class="modules">
          {% for module in modules %}
            <li class="module-li"><h2 class="module-titles">{{ module.title }}</h2></li>
          {% endfor %}
        </ul>
      </div>
        <div class="sections">
          <ul class="section-list">
            {% for section in sections %}
              <li class="sect"><h3 class="sec-title">{{ section.title }}</h3></li>
              <li class="sect"><p class="sect-description">{{ section.description|linebreaks }}</p></li>
            {% endfor %}
          </ul>
      </div>
    </div>
    <!--<hr id="break">!-->
    <div class="post-data">
      <p>
        <span class="glyphicon glyphicon-menu-up"></span>
        1234
        <span class="glyphicon glyphicon-menu-down"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </p>
    </div>
  </div>
  <div class="trending">
    <div class="trend-select">
      <h1 id="display-title">
        Trending
        <span class="glyphicon glyphicon-triangle-bottom"></span>
      </h1>
    </div>
    <p class="subname">A novel strategy for managing large groups<p>
    <p class="subdata">By: Someguy</p>
    <p class="subdata">587 Points | 04/22/18</p>
    <hr>

    <p class="subname">A novel strategy for managing large groups<p>
    <p class="subdata">By: Someguy</p>
    <p class="subdata">587 Points | 04/22/18</p>
    <hr>

    <p class="subname">A novel strategy for managing large groups<p>
    <p class="subdata">By: Someguy</p>
    <p class="subdata">587 Points | 04/22/18</p>
    <hr>

    <p class="subname">A novel strategy for managing large groups<p>
    <p class="subdata">By: Someguy</p>
    <p class="subdata">587 Points | 04/22/18</p>
    <hr>

    <p class="subname">A novel strategy for managing large groups<p>
    <p class="subdata">By: Someguy</p>
    <p class="subdata">587 Points | 04/22/18</p>
    <hr>

    <p class="subname">A novel strategy for managing large groups<p>
    <p class="subdata">By: Someguy</p>
    <p class="subdata">587 Points | 04/22/18</p>
  
  </div>
  <div class="comments">
    {% for comment in comments %}
      <div class="comm">
        <p class="comment-text">{{ comment.content }}</p>
        <p class="comment-points">
          <span class="glyphicon glyphicon-menu-up"></span>
          {{ comment.points }}
          <span class="glyphicon glyphicon-menu-down"></span>
        </p>
        <p class="reply">Reply <span class="glyphicon glyphicon-share-alt"></span></p>
      </div>
    {% endfor %}
  </div>
</body>
